/* .col,
.col-1,
div[class*='col-'] {
    border: 1px solid black;
} */

.navbar-light,
.navbar-nav,
.nav-link {
    color: black;
}

#CamtLogo {
    height: 75px;
}

.jumbotron {
    background-image: url("assets/image/camt-bg.jpg");
    height: 350px;
    background-position: center;
}

body>div>div.jumbotron>div:nth-child(1)>div>h1 {
    background-color: greenyellow;
}

body>div>div.jumbotron>div:nth-child(2)>div>h2 {
    background-color: greenyellow;
}

#profileImg {
    border-radius: 50%;
    -webkit-box-shadow: 5px 6px 13px 2px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 5px 6px 13px 2px rgba(0, 0, 0, 0.64);
    box-shadow: 5px 6px 13px 2px rgba(0, 0, 0, 0.64);
}

#preference {
    border-top: 5px solid indigo;
    border-bottom: 5px solid indigo;
    background-color: #e5e7ea;
    margin-top: 20px;
    height: 450px;
    margin-bottom: 20px;
}

#preference img {
    height: 250px;
}

.card {
    -webkit-box-shadow: 5px 6px 13px 2px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 5px 6px 13px 2px rgba(0, 0, 0, 0.64);
    box-shadow: 5px 6px 13px 2px rgba(0, 0, 0, 0.64);
}

#info .row {

    margin: 10px;
    webkit-box-shadow: 5px 6px 13px 2px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 5px 6px 13px 2px rgba(0, 0, 0, 0.64);
    box-shadow: 5px 6px 13px 2px rgba(0, 0, 0, 0.64);
}

h5 {

    margin-top: 10px;
}

#historyImg img {
    width: 300px;
    height: 300px;
    padding: 15px 15px 0;
  background-color: white;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}